Package: nemesis
Version: 1.0
Architecture: all
Maintainer: Priyanshu Dubey <priyanshu.dubey@example.com>
Installed-Size: 31
Depends: tor, mongodb, python3, python3-pip, python3-venv
Section: web
Priority: optional
Homepage: https://github.com/PriyanshuDubey2115/Nemesis
Description: Nemesis - A Dark Web Crawler for .onion Sites
 Nemesis is a Python-based dark web crawler for Tor hidden services,
 designed to crawl .onion websites, save HTML content, and filter
 pages by keywords. It uses Tor for anonymity and MongoDB for storage.
